@model IEnumerable<Lab3.Models.Rating>

@{
    ViewBag.Title = "Рейтинг";
    Layout = "_Layout";
}

<h2>Таблиця балів студентів</h2>
<table class="table">
    <thead class="bg-dark text-white bg-opacity-90">
    <tr>
        @*<td>Код</td>*@
        <td>Прізвище</td>
        <td>Назва предмету</td>
        <td>К-ть балів за перший модуль</td>
        <td>К-ть балів за другий модуль</td>
    </tr>
    </thead>
    <tbody>
    @{
        
        foreach (var rating in Model)
        {
            var averageMark = (rating.PointsFirstModule + rating.PointsSecondModule) / 2;
            var style = averageMark switch
            {
                <= 0 => "bg-danger bg-opacity-10",
                < 35 => "bg-warning bg-opacity-10",
                _ => "bg-success bg-opacity-10"
            };
            <tr class="@(style)">
                @*<td>@rating.Id</td>*@
                <td>@rating.StudentName</td>
                <td>@rating.SubjectName</td>
                <td>@rating.PointsFirstModule</td>
                <td>@rating.PointsSecondModule</td>
            </tr>
        }
    }
    </tbody>
</table>